table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.unvisible {
    display: none;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

a:hover {
    color: rgba(0, 0, 0, 0.719);
}

/* Ogarnij tą stronę  */