label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

a:hover {
    color: rgba(0, 0, 0, 0.719);
}

div {
    display: flex;
    flex-direction: column;
}

input {
    max-width: 300px;
    margin: 5px 0 5px 0;
}

button {
    max-width: 100px;
}